.benefits {
	margin-top: 70px;

	&__title {
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		color: var(--text-color-dark);
	}

	&__block {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__element {
		display: flex;
		margin: 0;
		flex-direction: column;
		text-align: center;
		align-items: center;
		width: 22%;

		& img {
			max-width: 70px;
		}
	}

	&__head {
		margin-top: 38px;
		font-size: 18px;
		font-weight: 700;
	}

	&__text {
		margin-top: 28px;
		font-size: 14px;
		font-weight: 300;

		a {
			text-transform: uppercase;
			text-decoration: underline;
			color: var(--text-color-colored);
		}
	}
}