.consultation {
	background: (center / cover) no-repeat url("../img/consultation__bg.jpg");
	height: 70vh;
	min-height: 680px;
	margin-top: 80px;
	color: var(--text-color-main);

	&__title {
		padding-top: 100px;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__subtitle {
		margin-top: 80px;
		font-size: 20px;
		font-weight: 500;
		width: 40%;
	}

	&__form {
		margin-top: 36px;
		display: flex;
		flex-direction: column;
		justify-content: start;



		&__item {
			border: none;
			width: 260px;
			padding: 20px 20px 20px 20px;
		}

		& input:focus {
			outline: none;
		}

		&__button {
			width: 300px;
			padding: 20px 0;
			text-transform: uppercase;
		}
	}
}